.heading {
  font-size: max(10vw, 60px);
  font-family: "Antonio", sans-serif;
  font-weight: 200;
  letter-spacing: -0.15ch;
  line-height: 0.9;
  text-transform: uppercase;
  transform: translateX(-0.15ch);
  margin-bottom: 50px;
}

.subHeading {
  text-align: center;
  font-weight: 500;
  // font-size: max(4vw, 35px);
  margin-block: 1rem;
  font-size: 3rem;
  text-wrap: nowrap;
  text-decoration: underline;
  text-underline-offset: 8px;
}

.container {
  max-width: 100%;
  margin: auto;
  margin-block: 2em;
  padding-inline: 2em;

  .imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
  }
}

.sponsorImg {
  width: 240px;
  height: auto;
  object-fit: cover;
  object-position: center;
}
