.heading {
  font-size: max(10vw, 60px);
  font-family: "Antonio", sans-serif;
  font-weight: 200;
  letter-spacing: -0.15ch;
  line-height: 0.9;
  text-transform: uppercase;
  transform: translateX(-0.15ch);
  margin-bottom: 50px;
}